# Copiar a .env y ajustar credenciales.
# Con el docker-compose.yml incluido, estas credenciales funcionan tal cual.
DATABASE_URL="mysql://root:root@localhost:3306/examen_coleccionista?allowPublicKeyRetrieval=true"
PUERTO=3000